<a href="https://colab.research.google.com/github/Xavialva/Organizaci-n_de_datos/blob/main/organizar_datos_difcil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df='https://s3.amazonaws.com/General_V88/boomyeah2015/codingdojo/curriculum/content/chapter/GDP.csv'

In [6]:
import pandas as pd
import numpy as np

In [8]:
df= pd.read_csv(df,skiprows=4)

In [9]:
df

     Country Name Country Code  ...          2017 Unnamed: 62
0           Aruba          ABW  ...           NaN         NaN
1     Afghanistan          AFG  ...  2.081530e+10         NaN
2          Angola          AGO  ...  1.242094e+11         NaN
3         Albania          ALB  ...  1.303935e+10         NaN
4         Andorra          AND  ...  3.012914e+09         NaN
..            ...          ...  ...           ...         ...
259        Kosovo          XKX  ...  7.128691e+09         NaN
260   Yemen, Rep.          YEM  ...           NaN         NaN
261  South Africa          ZAF  ...  3.494193e+11         NaN
262        Zambia          ZMB  ...  2.580867e+10         NaN
263      Zimbabwe          ZWE  ...  1.784582e+10         NaN

[264 rows x 63 columns]

la función *'melt'* sirve para ordenar las columnas en filas, en algunos casos sirve para ordenar el dataframe. Esta función con id_vars ancla las columnas que no van hacer afectadas por la función.

In [12]:
df1=df.melt(id_vars=['Country Name','Country Code','Indicator Name','Indicator Code'])

In [15]:
df2=df1.drop(columns=['Indicator Name','Indicator Code'])

In [16]:
df2

       Country Name Country Code     variable         value
0             Aruba          ABW         1960           NaN
1       Afghanistan          AFG         1960  5.377778e+08
2            Angola          AGO         1960           NaN
3           Albania          ALB         1960           NaN
4           Andorra          AND         1960           NaN
...             ...          ...          ...           ...
15571        Kosovo          XKX  Unnamed: 62           NaN
15572   Yemen, Rep.          YEM  Unnamed: 62           NaN
15573  South Africa          ZAF  Unnamed: 62           NaN
15574        Zambia          ZMB  Unnamed: 62           NaN
15575      Zimbabwe          ZWE  Unnamed: 62           NaN

[15576 rows x 4 columns]

In [20]:
df3=df2.rename(columns={'variable': 'Years','value':'Pib'})

In [21]:
df3

       Country Name Country Code        Years           Pib
0             Aruba          ABW         1960           NaN
1       Afghanistan          AFG         1960  5.377778e+08
2            Angola          AGO         1960           NaN
3           Albania          ALB         1960           NaN
4           Andorra          AND         1960           NaN
...             ...          ...          ...           ...
15571        Kosovo          XKX  Unnamed: 62           NaN
15572   Yemen, Rep.          YEM  Unnamed: 62           NaN
15573  South Africa          ZAF  Unnamed: 62           NaN
15574        Zambia          ZMB  Unnamed: 62           NaN
15575      Zimbabwe          ZWE  Unnamed: 62           NaN

[15576 rows x 4 columns]

In [24]:
df4=df3.dropna()

In [25]:
df4

       Country Name Country Code Years           Pib
1       Afghanistan          AFG  1960  5.377778e+08
11        Australia          AUS  1960  1.857319e+10
12          Austria          AUT  1960  6.592694e+09
14          Burundi          BDI  1960  1.960000e+08
15          Belgium          BEL  1960  1.165872e+10
...             ...          ...   ...           ...
15306         Samoa          WSM  2017  8.566265e+08
15307        Kosovo          XKX  2017  7.128691e+09
15309  South Africa          ZAF  2017  3.494193e+11
15310        Zambia          ZMB  2017  2.580867e+10
15311      Zimbabwe          ZWE  2017  1.784582e+10

[11777 rows x 4 columns]